  <link rel="stylesheet" type="text/css" media="screen" href="/styles/controller.css"/>
</head>

<body>
  <div class="container d-flex flex-wrap align-items-center justify-content-center align-self-center">
    <section class="d-flex flex-wrap flex-column player-info flex">
      <div class="player-div d-flex align-items-center">
        <img class="player-img" src="" alt="Player avatar">
        <h1 class="player-name"></h1>
      </div>
    </section>

    <section class="d-flex flex-wrap player-options align-items-center justify-content-center">
      <div class="option d-flex align-items-center justify-content-center" data-option="A">A</div>
      <div class="option d-flex align-items-center justify-content-center" data-option="B">B</div>
      <div class="option d-flex align-items-center justify-content-center" data-option="C">C</div>
      <div class="option d-flex align-items-center justify-content-center" data-option="D">D</div>
    </section>

    {{!-- <section class="d-flex player-powerups align-items-center justify-content-between">
      <div class="powerup-div d-flex align-items-center justify-content-center flex-wrap flex-column" data-option="pu-elbow">
        <img class="powerup-img" src="/images/pu-bet.png" alt="Bet Power Up">
        <p>BET</p>
      </div>
      
      <div class="powerup-div d-flex align-items-center justify-content-center flex-wrap flex-column not-active" data-option="pu-elbow">
        <img class="powerup-img" src="/images/pu-steak.png" alt="Steak Power Up">
        <p>STEAK</p>
      </div>
      
      <div class="powerup-div d-flex align-items-center justify-content-center flex-wrap flex-column not-active" data-option="pu-elbow">
        <img class="powerup-img" src="/images/pu-punch.png" alt="Punch Power Up">
        <p>PUNCH</p>
      </div>
    </section> --}}
  </div>
  <audio id="correct-answer" src="./sounds/answer_correct.mp3"></audio>
  <audio id="wrong-answer" src="./sounds/answer_wrong.mp3"></audio>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="/js/index.js"></script>
  <script src="/js/game.js"></script>
</body>