  <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" media="screen" href="/styles/dashboard.css"/>
  <link rel="stylesheet" type="text/css" media="screen" href="/styles/modal.css"/>
  
</head>

<body>
  <div class="container">
    <header class="d-flex align-items-center justify-content-end">
      <a class="create-button" data-toggle="modal" data-target=".modal-create">Create session</a>
      <a class="header-option" data-toggle="modal" data-target=".bd-example-modal-sm" href="#">Join session</a>
      <a href="/settings">Settings</a>
      <a class="mock-a">Welcome, <span id="username">{{username}}</span></a>
    </header>
  
    <div class="d-flex align-items-center">
      <img src="/images/cyp_logo_glow.png" alt="Choose Your Predator Logo" style="width: 10vw; height: 10vw">
      <h1>Dashboard</h1>
    </div>
    
    <section>
      <h2 style="font-weight: 900;">Step 1. From your <i class="fas fa-tv"></i> COMPUTER</h2>
      {{!-- <h2>Create Session</h2> --}}
      <p>This option creates a new game so you can invite your friends using the unique session code.</p>
      <button class="btn btn-danger create-button" data-toggle="modal" data-target=".modal-create">Create</button>
    </section>

    <section>
      <h2 style="font-weight: 900;">Step 2. From your <i class="fas fa-mobile-alt"></i> PHONE</h2>
      {{!-- <h2>Join Session</h2> --}}
      <p>Click on this option from your phone, once you have a session code in order to join the game.</p>
      <button data-toggle="modal" data-target=".bd-example-modal-sm" href="#" id="join-button" class="btn btn-warning">Join</button>
    </section>

    <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="message-text" class="col-form-label"><h2>Session Code</h2></label>
                <input type="text" class="form-control" id="session-code">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button id = "joinSession-button" type="button" class="btn btn-danger">Join</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade modal-create" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-body">
            <h2>Your Session Code is:</h2>
            <h1 class="session-code"></h1>
          </div>
          <div class="modal-footer justify-content-center">
            <p>Waiting for players to join this session</p>
          </div>
        </div>
      </div>
    </div>
    
  </div>


  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>