  <link rel="stylesheet" type="text/css" media="screen" href="/styles/dashboard.css"/>
  <link rel="stylesheet" type="text/css" media="screen" href="/styles/modal.css"/>
</head>

<body>
  <div class="container">
    <header class="d-flex align-items-center justify-content-end">
      <a href="/api/newsession">Create session</a>
      <a class="header-option" data-toggle="modal" data-target=".bd-example-modal-sm" href="#">Join session</a>
      <a href="/settings">Settings</a>
      <a class="mock-a">Welcome, {NAME}</a>
    </header>
  
    <div class="d-flex align-items-center">
      <img src="/images/cyp_logo_glow.png" alt="Choose Your Predator Logo" style="width: 10vw; height: 10vw">
      <h1>Dashboard</h1>
    </div>
    
    <section>
      <h2>Create Session</h2>
      <p>This option lets you create a new game and invite your friends using the unique session code.</p>
      <button id="create-button" class="btn btn-danger">Create</button>
    </section>

    <section>
      <h2>Join Session</h2>
      <p>Click on this option from your phone, once you have a session code in order to join the game.</p>
      <button data-toggle="modal" data-target=".bd-example-modal-sm" href="#" id="join-button" class="btn btn-warning">Join</button>
    </section>

    <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="message-text" class="col-form-label">Session Code</label>
                <input type="text" class="form-control" id="session-code">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-danger">Join</button>
          </div>
        </div>
      </div>
    </div>
    
  </div>


  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>