<link rel="stylesheet" type="text/css" media="screen" href="/styles/index-signup.css" />
<link rel="stylesheet" type="text/css" media="screen" href="/styles/modal.css" />
</head>

<body>
  <div class="container">
    <header class="d-flex align-items-center justify-content-end">
      <a href="/instructions">How to Play</a>
      <a class="header-option" data-toggle="modal" data-target=".bd-example-modal-sm" href="#">Log in</a>
    </header>

    <main class="container d-flex justify-content-center align-items-center">
      <div class="row">
        <div class="col-6 d-flex justify-content-center align-items-center">
          <img class="logo-index" src="/images/cyp_logo_glow.png" alt="Choose Your Predator Logo">
        </div>
        <div class="col-6 d-flex justify-content-center align-items-center flex-wrap">
          <p class="intro-text"><span style="font-weight: 700;">Choose Your Predator</span> is a survival trivia game you
            play against your "friends" (and by friends we mean "predator's dinner"). Log in or sign up to start playing!</p>
        </div>
      </div>
    </main>

    <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Email</label>
                <input type="email" class="form-control" id="email">
              </div>
              <div class="form-group">
                <label for="message-text" class="col-form-label">Password</label>
                <input type="password" class="form-control" id="psw">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button id="signin-btn" type="button" class="btn btn-danger">Sign in</button>
            <p class="signup-link">Don't have an account? <a href="/signup" target="_blank" style="color: black; font-weight: 900">Sign
                up</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script>
   var loginFailed = {{loginFailed}}
 </script>
  <script src="js/login.js"></script>
  <script src="../routes/htmlRoutes.js"></script>
</body>