  <link rel="stylesheet" type="text/css" media="screen" href="/styles/instructions.css" />
</head>

<body>

<div class="container">
  <header class="d-flex align-items-center justify-content-end">
    <a href="/">Home</a>
  </header>
  
  <div class="d-flex align-items-center">
    <img src="/images/cyp_logo.png" alt="Choose Your Predator Logo" style="width: 10vw; height: 10vw">
    <h1>Instructions</h1>
  </div>
  
  <section>
    <h2>Plot</h2>
    <p>While exploring the beautiful but deadly scenery of Corpsefound National Park, a group of 3 friends wandered too far from the safety of their cabin. The day turned into night so suddenly. After realizing that they were being followed, they decided that the only way to survive was to turn against each other.</p>
  </section>

  <section>
    <h2>Set up</h2>
    <p>To start a game, sign into your account from a computer. Once your dashboard is displayed, click on the <span style="font-weight: 700">Create session</span> option. A random session code will be generated. From your phone, log into your account again, and now click on the <span style="font-weight: 700;">Join session</span> option. Enter the session code and wait for the other players to do the same. Once all of the players have logged into the session, the game will start.</p>
    <p>Use your phone as the game controller, to answer questions and use power ups.</p>
  </section>

  <section>
    <h2>Questions</h2>
    <p>Each session consists of 10 random questions. The categories for the questions range from Entertainment to History. The difficulty for the first 4 questions is easy, the next 4 medium and the last 2 hard.</p>
  </section>

  <section>
    <h2>Winning / End of game</h2>
    <p>The only way to win the game is to reach the cabin before the 10th question. If after 10 questions none of the players have reached the cabin, they all lose the game.</p>
  </section>

</div>
  
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>