  <link rel="stylesheet" type="text/css" media="screen" href="/styles/select.css"/>
</head>

<body>
  <div class="container d-flex flex-column flex-wrap align-items-center justify-content-center">
    <div class="text-center">
      <h1>Choose your Avatar</h1>
    </div>
    <div class="d-flex flex-wrap align-items-center justify-content-center align-self-center">
      <div class="d-flex flex-wrap flex-column align-items-center justify-content-center">
        <img class="avatar-option" src="/images/avatar01.png" alt="Fred" data-avatar="avatar01.png" data-name="Fred">
        <p>Fred</p>
      </div>
      <div class="d-flex flex-wrap flex-column align-items-center justify-content-center">
        <img class="avatar-option" src="/images/avatar02.png" alt="Charly" data-avatar="avatar02.png" data-name="Charly">
        <p>Charly</p>
      </div>
      <div class="d-flex flex-wrap flex-column align-items-center justify-content-center">
        <img class="avatar-option" src="/images/avatar03.png" alt="Betty" data-avatar="avatar03.png" data-name="Betty">
        <p>Betty</p>
      </div>
      <div class="d-flex flex-wrap flex-column align-items-center justify-content-center">
        <img class="avatar-option" src="/images/avatar04.png" alt="Morpheus" data-avatar="avatar04.png" data-name="Morpheus">
        <p>Morpheus</p>
      </div>
    </div>
  </div>


  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>