  <link rel="stylesheet" type="text/css" media="screen" href="/styles/select.css"/>
</head>

<body>
  <div class="container d-flex flex-column flex-wrap align-items-center justify-content-center">
    <div class="text-center">
      <h1>Choose your Predator</h1>
    </div>
    <div class="d-flex flex-wrap align-items-center justify-content-center align-self-center">
      <div class="d-flex flex-wrap flex-column align-items-center justify-content-center">
        <img class="predator-option" src="/images/pred01.png" alt="Ill Eagan Alan" data-predator="pred01.png" data-name="Ill Eagan Alan">
        <p>Ill Eagan Alan</p>
      </div>
      <div class="d-flex flex-wrap flex-column align-items-center justify-content-center">
        <img class="predator-option" src="/images/pred02.png" alt="Dr. Cerebro" data-predator="pred02.png" data-name="Dr. Cerebro">
        <p>Dr. Cerebro</p>
      </div>
      <div class="d-flex flex-wrap flex-column align-items-center justify-content-center">
        <img class="predator-option" src="/images/pred03.png" alt="Larry P." data-predator="pred03.png" data-name="Larry P.">
        <p>Larry P.</p>
      </div>
      <div class="d-flex flex-wrap flex-column align-items-center justify-content-center">
        <img class="predator-option" src="/images/pred04.png" alt="Yogi" data-predator="pred04.png" data-name="Yogi">
        <p>Yogi</p>
      </div>
    </div>
  </div>


  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>