  <link rel="stylesheet" type="text/css" media="screen" href="/styles/instructions.css" />
</head>

<body>
  <div class="container">
    <header class="d-flex align-items-center justify-content-end">
      <a href="/dashboard">Dashboard</a>
      <a class="mock-a">Welcome, {{username}}</a>
    </header>
  
    <div class="d-flex align-items-center">
      <img src="/images/cyp_logo.png" alt="Choose Your Predator Logo" style="width: 10vw; height: 10vw">
      <h1>Settings</h1>
    </div>
    
    <section>
      <h2>Avatar</h2>
      <p>Choose Avatar</p>
      <form class="d-flex flex-wrap flex-column">
        <div>
          <input type="radio" name="avatar" value="avatar01.png"><img class="avatar-img" src="/images/avatar01.png" alt="Avatar 01" data-avatar="avatar01.png">
          <input type="radio" name="avatar" value="avatar02.png"><img class="avatar-img" src="/images/avatar02.png" alt="Avatar 02" data-avatar="avatar02.png">
          <input type="radio" name="avatar" value="avatar03.png"><img class="avatar-img" src="/images/avatar03.png" alt="Avatar 03" data-avatar="avatar03.png">
          <input type="radio" name="avatar" value="avatar04.png"><img class="avatar-img" src="/images/avatar04.png" alt="Avatar 04" data-avatar="avatar04.png">
        </div>
        <button class="btn btn-primary">Save</button>
      </form> 
    </section>

    <section>
      <h2>Password</h2>
      <p>Change Password</p>
    </section>
    
  </div>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="/js/index.js"></script>
</body>