  <link rel="stylesheet" type="text/css" media="screen" href="/styles/instructions.css" />
</head>

<body>
  <div class="container">
    <header class="d-flex align-items-center justify-content-end">
      <a href="/dashboard">Dashboard</a>
      <a class="mock-a">Welcome, {NAME}</a>
    </header>
  
    <div class="d-flex align-items-center">
      <img src="/images/cyp_logo.png" alt="Choose Your Predator Logo" style="width: 10vw; height: 10vw">
      <h1>Settings</h1>
    </div>
    
    <section>
      <h2>Avatar</h2>
      <p>Choose Avatar</p>
    </section>

    <section>
      <h2>Option</h2>
      <p>Another setting</p>
    </section>
    
  </div>


  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>