  <link rel="stylesheet" type="text/css" media="screen" href="/styles/index-signup.css"/>
</head>

<body>
  <div class="container">
    <header class="d-flex align-items-center justify-content-end"></header>

    <div class="d-flex align-items-center">
      <img src="/images/cyp_logo_glow.png" alt="Choose Your Predator Logo" style="width: 10vw; height: 10vw">
      <h1>Create an account</h1>
    </div>
    
    <form class="form-signup">
      <div class="form-group">
        <label for="form-username">Username</label>
        <input type="text" class="form-control input-signup" id="form-username">
        <small class="form-text text-muted display-none red-font">Username has been taken, please choose a different one.</small>
      </div>
      <div class="form-group">
        <label for="form-email">Email address</label>
        <input type="email" class="form-control input-signup" id="form-email">
      </div>
      <div class="form-group">
        <label for="form-password">Password</label>
        <input type="password" class="form-control input-signup" id="form-password">
      </div>
      <button id="signup-button" class="btn btn-primary">Sign up</button>
    </form>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="/js/index.js"></script>
  <script src="js/signup.js"></script>
</body>