body {
  color: white;
  background: url("/images/background.jpg") no-repeat;
  background-size: 100vw 100vh;
  height: 90vh;
}

.no-show {
  display: none;
}

#question, .choices {
  text-align: center;
  margin-top: 1rem;
  font-size: 2.5vw;
  text-shadow: 2px 2px 5px black;
}

#question {
  font-weight: 700;
}

#timer {
  font-size: 12vw;
  font-family: 'YouMurderer';
  color: red;
  right: 20px;
  top: -50px;
}

.question-div {
  width: 100%;
}

.round-div {
  width: 20%;
  font-weight: 900;
  font-size: 1.5rem;
  color: red;
}

h2 {
  font-size: 2rem;
  margin: 0;
}

.modal-question-dialog {
  min-width: 90vw;
  margin: 10vh auto;
}

.modal-question-body {
  text-align: justify;
  background: url("/images/bark.jpg")
}

main {
  height: 10vh;
}

main img {
  width: 7vw;
}

main p {
  font-size: 100%;
  line-height: 1.2;
}

.cabin {
  left: 90vw;
}

.predator {
  left: 0;
}

.players {
  left: 10vw;
}

.players {
  left: 8vw;
}

.player1 {
  top: -20vh;
}

.player3 {
  top: 20vh;
}

#countdown {
  text-shadow: 2px 2px 20px rgb(61, 61, 61);
  text-align: center;
  font-size: 75vh;
  color: red;
  font-weight: 400;
  font-family: "YouMurderer", Arial, Helvetica, sans-serif;
}

.modal-content {
  background: none;
}

.correct {
  background-color: rgba(0, 128, 0, 0.8);
  border-radius: 20px;
}