body {
  color: white;
}

header {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 0 0 10px 10px;
}

body {
  background: url("/images/background.jpg") no-repeat;
  background-size: 100vw 100vh;
  /* background-position: 0 -250px; */
  /* background-color: rgb(102, 82, 52); */
}

section {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  border-radius: 10px;
  padding: 1rem;
  margin: 2rem 0
}

p {
  margin: 0;
}

h2 {
  margin-top: 0;
}

.board-piece {
  width: 5vw;
  height: 5vw;
}

.player-img {
  width: 4vw;
  height: 4vw;
  margin: 0.3rem;
}

.player-name {
  font-size: 0.8rem;
  font-weight: 900;
}

.player-div {
  align-items: center;
  display: flex;
  justify-content: center;
}

table {
  
}

td, th {
  text-align: center;
  width: 33%;
}