body {
  color: white;
  background: url("/images/background.jpg") no-repeat;
  background-size: 100vw 100vh;
  height: 90vh;
}

.no-show {
  display: none;
}

#question, .choices {
  text-align: center;
  margin-top: 1rem;
  font-size: 2.5vw;
  text-shadow: 2px 2px 5px black;
}

#question {
  font-weight: 700;
}

#timer {
  font-size: 12vw;
  font-family: 'YouMurderer';
  color: red;
  right: 20px;
  top: -50px;
}

.question-div {
  width: 100%;
}

.round-div {
  width: 20%;
  font-weight: 900;
  font-size: 1.5rem;
  color: red;
}

h2 {
  font-size: 2rem;
  margin: 0;
}

.modal-question-dialog {
  min-width: 90vw;
  margin: 10vh auto;
}

.modal-question-body {
  text-align: justify;
  background: url("/images/bark.jpg")
}

main {
  height: 10vh;
}

main img {
  width: 7vw;
}

header {
  height: 10vh;
  left: 0;
  top: 0;
  width: 100%;
}

.safe {
  background-color: rgba(0, 255, 149, 0.3);
}

.prey {
  background-color: rgba(255, 0, 0, 0.3);
}

h2 {
  font-size: 1rem;
}

.console {
  width: 50vw;
  text-align: center;
  padding-top: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main p {
  font-size: 100%;
  line-height: 1.2;
}

.cabin {
  left: 90vw;
}

/* .predator {
  left: 10vw;
}

.players {
  left: 10vw;
} */

.player1 {
  top: -20vh;
}

.player3 {
  top: 20vh;
}

#countdown {
  text-shadow: 2px 2px 20px rgb(61, 61, 61);
  text-align: center;
  font-size: 75vh;
  color: red;
  font-weight: 400;
  font-family: "YouMurderer", Arial, Helvetica, sans-serif;
}

.modal-content {
  background: none;
}

.correct {
  background-color: rgba(0, 128, 0, 0.8);
  border-radius: 20px;
}

#game-over {
  font-size: 20vw;
  text-shadow: 2px 2px 20px rgb(61, 61, 61);
  text-align: center;
  color: red;
  font-family: "YouMurderer", Arial, Helvetica, sans-serif;
  font-weight: 400;
}