body {
  color: white;
}

header {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 0 0 10px 10px;
}

body {
  background: url("/images/background.jpg") no-repeat;
  background-size: 100vw 100vh;
  /* background-position: 0 -250px; */
  /* background-color: rgb(102, 82, 52); */
}

section {
  padding: 1rem;
  margin: 0 0 2rem 0
}

p {
  margin: 0;
}

h2 {
  margin-top: 0;
}

.board-piece {
  width: 5vw;
  height: 5vw;
}

.player-img {
  width: 8vw;
  margin-right: 1rem;
}

.player-div {
  align-items: center;
  display: flex;
  justify-content: center;
}

table {
  /* background-color: blue; */
  width: 100%;
}

th {
  color: black;
  text-align: center;
  font-size: 1.5rem;
  background-color: rgba(255, 255, 255, 0.5);
}

#game-stats {
  border-radius: 0 0 30px 30px;
}

#game-board {
  background-color: rgba(255, 255, 255, 0.6);
}