body {
  background: url("/images/back_controller.png") no-repeat;
  background-size: 100vw 100vh;
}

p {
  margin: 0;
}

.player-img {
  width: 15vw;
  margin: 1rem;
}

section {
  margin: 0;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  margin: 1rem;
  box-shadow: 5px 5px 20px black inset;
  border: 2px solid rgb(63, 63, 63);
}