body {
  color: white;
}

header {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 0 0 10px 10px;
}

body {
  background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url("/images/cabin2.jpg") no-repeat;
  background-size: cover 100vh;
  background-position: 0 -250px;
}

section {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  border-radius: 10px;
  padding: 1rem;
  margin: 2rem 0;
  text-align: center;
}

h2 {
  margin-top: 0;
}

.session-code {
  font-family: "Source Code Pro", 'Times New Roman', Times, serif;
}