body {
  background: url("/images/bark.jpg") no-repeat;
  background-size: 100vw 100vh;
  color: white;
  /* text-shadow: 2px 2px black; */
}

h1 {
  margin: 2rem 0;
  font-size: 12vw;
  text-align: center;
  background-color: black;
  border-radius: 20px;
}

.predator-option, .avatar-option {
  width: 30vw;
  margin: 0.5rem;
  box-shadow: 5px 5px 10px black;
  border-radius: 50%;
}